@import "tailwindcss";
@tailwind utilities;


.glowing::after{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    background: linear-gradient(
        90deg,
        #d4145a,
        #ff00ff,
        #d4145a
        );
    background-size: 1000%;
    z-index: 0;
    filter: blur(5px);
    transition: all .3s linear;
    animation: glowing 20s linear infinite;
    border-radius: 1.5rem; /* Match the parent element's border radius */
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    opacity: 0;
}

.main-div:hover .glowing::after{
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0}
    50% { background-position: 400% 0}
    100% { background-position: 0 0}
}

